useDynLib(FW,C_GibbsFWh0)
#formal package output
export(FW,plot.FW)
import(stats,utils,coda,MASS)
importFrom("graphics", "abline", "axis", "clip", "legend", "lines",
             "par", "plot", "points")

